<h1>Welcome, {{ username }}</h1>
<div class="displayMessage">
    {{#if messages.success}}
    <div class="success">
        <p class="messages" style="color: rgb(8, 156, 42);">{{messages.success}}</p>
    </div>
    {{/if}}

    {{#if messages.warning}}
    <div class="warning">
        <p class="messages" style="color: rgb(241, 0, 0);">{{messages.warning}}</p>
    </div>
    {{/if}}

    {{#if messages.error}}
    <div class="error">
        <p class="messages" style="color: rgb(239, 0, 0);">{{messages.error}}</p>
    </div>
    {{/if}}
</div>


<div class="daysPage">

    <form action="/waiters/{{username}}" method="post">
        {{#each days}}
        <label for="{{this.day_id}}">{{this.day_name}}</label>
        <input type="checkbox" id="{{this.day_id}}" name="days" value="{{this.day_name}}" {{#if
            this.checked}}checked{{/if}}>
        {{/each}}
        <button type="submit" value="Submit">
            Select days
        </button>
    </form>

    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</div>